details summary{
    display: inline-block;
    outline: none !important;
}
details > div{
    animation-name: fadein;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
    border: 1px solid red; 
    
}
@keyframes fadein{
    from {opacity: 0;}
    to {opacity: 1;}
}
/*to hide details marker*/
details summary::-webkit-details-marker{
    display:none;
}